<% provide(:title, t("static_pages.contact.title"))  %>
<h1><%= t "static_pages.contact.title" %></h1>
<p>
  <%= t "static_pages.contact.p1" %>
  <%= link_to t("RORT"),
    "https://www.railstutorial.org/contact" %>
</p>
