<% provide(:title, t("static_pages.home.title")) %>
<h1><%= t "static_pages.home.title" %></h1>
<p>
  <%= t "intro" %>
  <%= link_to t("RORT"),
    "https://www.railstutorial.org/" %>
  <%= t "static_pages.home.home1" %>
</p>
