<p><%= t(:translate, item: t("translates.toresetpass")) %></p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
  email: @user.email) %>

<p><%= t(:translate, item: t("translates.expire2h")) %></p>


